# Server
PORT=5000
NODE_ENV=development

# PostgreSQL Database (Neon Online DB)
DATABASE_URL="postgresql://user:password@endpoint.neon.tech/dbname?sslmode=require"

# (Optional) Local Database configuration
# DB_USER=postgres
# DB_PASSWORD=yourpassword
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=cfg_db

# JWT
JWT_SECRET=my secret key

# Email (Nodemailer)
EMAIL_USER=shiphirawamaitha@gmail.com
EMAIL_PASS=dams ykdh lpli siyh
# Frontend URL (used for password reset links)
FRONTEND_URL=http://localhost:5173